@import "tailwindcss";

:root {
  --background: #F4F4F2; /* neutral-cream */
  --foreground: #171717; /* A dark gray for text */
}

.dark {
  --background: #171717; /* A dark gray for background */
  --foreground: #F4F4F2; /* neutral-cream */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}